.navbar{
  position: sticky; top: 0;
  display: flex; justify-content: space-between; align-items: center;
  padding: 1.2rem 3rem;
  background: #000; color: #fff;
  z-index: 1000;         /* au-dessus de tout */
}
.logo{ font-size:1.4rem; font-weight:700; color:#a16eff; text-transform:uppercase; letter-spacing:1px }
nav a{ color:#fff; margin-left:2rem; text-decoration:none; font-weight:500; transition:.3s }
nav a:hover, nav a.active{ color:#a16eff }
