.hero {
  height: 90vh;
  background: linear-gradient(to bottom, #222, #555);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
